{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		<div class='posts-list-wiki'>
			<ul class="posts-lists-wiki">
				{{- range .Pages }}
				<li class="post-item-wiki">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
					</a>
				</li>
				{{- end }}
			</ul>
			</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
